.card {
  height: 673px;
}
.messages span{
  font-size: 1.2em;
}
.messages .time{
  display: block;
  font-size: 0.7em;
}
.messages{
  max-height: 500px;
  overflow: auto;
}
[class="nav-link"]:hover{
  cursor: pointer;
}
[class="nav-link"]{
  white-space: inherit;
}
.row{
  padding-left: 1em;
}
.col{
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.card-header{
  color: #495057
}